canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

.canvasContainer {
    position: relative;
}

#gameCanvas {
    z-index: 1;
}

#gameCanvas-hitbox {
    z-index: 0;
}