canvas {
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

.loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 2;
}

.canvasContainer {
    position: relative;
    padding: 0px;
}

#gameCanvas {
    position: relative;
    z-index: 1;
}

#gameCanvas-hitbox {
    position: absolute;
    z-index: 0;
}